# ignore ALL .log and db files
*.log
*.db
*.db-shm
*.db-wal
*.psd
*.ai

# ignore ALL files in ANY directory named *
backup/
scripts/
json/galaxy_stations*.*
json/stations.json
json/systemsPopulated.json
json/systemsWithCoordinates.json
json/powerPlay.json
json/old/*
img/*.psd
img/*.ai
__pycache__/
json/Commodity-2025-01-04.jsonl
json/galaxy_populated.json
json/galaxy_populated.json.gz
/dumps

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Logs and Database (additional patterns)
logs/
log/
*.sqlite3

# OS
.DS_Store
Thumbs.db
.env.example
server_web_old.py
update_live_web_old.py
restored.py
check_timestamps.py
data/~$mining_data.xlsx
migrate_to_postgres.py
data/mining_data.xlsx
img/demand-icons.ai
utils/search_old.py
utils/mining_data_really_old.py
utils/search_really_old.py
utils/search_web.py

# EDDN
*eddn/*
eddn/*

json/journal-README.md
utils/old_update_live.py
utils/old_update_live_web.py
utils/search_notOK.py
timescaledb
json/powerplay.zpaq
json/systemsPopulated (3).json
*.zst
json/systemsPopulated_02-07.gz
/img/powers
/img/psd
/img/galaxy/src
/docs
.BridgeSort
/.cursor
/cursor-cmd
/videos
/img/reddit
/journal_events
/database
utils/search_common_old.py
